.tableDashboardGestionnaire {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

/* .tableDashboardGestionnaire  .button {
  margin-top: 30px; 
  background: #DBB2FF;
  color: #161616;
  padding: 0.75rem 1.25rem;
  width: 250px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
} */

.tableDashboardGestionnaire th {
  background: gray;
}


 .tableDashboardGestionnaire td,
.tableDashboardGestionnaire th {
  border: 1px solid gray;
  padding: 4px;
}

.tableDashboardGestionnaire tr:nth-child(odd) {
  background-color: lightgray;
  color: black;
}
.tableDashboardGestionnaire tr:nth-child(even) {
  background-color: #DBB2FF;
  color: black;
} 

/* .tableDashboardGestionnaire tbody tr:hover {
  background-color: #23b6fd;
} 

.tableDashboardGestionnaire th {
  background-color: #000000;
  color: white;
}  */



/* .hoverButton:hover {
  background-color: lightgray;
} */


/* .tableDashboardGestionnaire tr:nth-child(even)  {
  background-color: #DBB2FF;
}

.tableDashboardGestionnaire tr:nth-child(odd) {
  background-color: lightgray;
}

.tableDashboardGestionnaire tr:nth-child(even) .tableCvButton {
  background-color: #DBB2FF;
  border: none;
}

.tableDashboardGestionnaire tr:nth-child(odd) .tableCvButton{
  background-color: lightgray;
  border: none;
} */
