.tableDashboardGestionnaire {
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 20px;
  width: 800px;
}


.tableDashboardGestionnaire th {
  background: gray;
}

.tableDashboardGestionnaire,
.tableDashboardGestionnaire td,
.tableDashboardGestionnaire th {
  border: 1px solid black;
  padding: 4px;
}

.tableDashboardGestionnaire tr:nth-child(odd) {
  background-color: lightgray;
  color: black;
}
.tableDashboardGestionnaire tr:nth-child(even) {
  background-color: #DBB2FF;
  color: black;
} 

.tableDashboardGestionnaire tbody tr:hover {
  background-color: #23b6fd;
} 


.tableDashboardGestionnaire .button{
  background-color: white;
  width: 100%;
}

.tableDashboardGestionnaire td {
  width: 20%;
}

.hoverButton .button:hover {
  background-color: black;
  color: white;
}

.tableDashboardGestionnaire .totalTr {
  background-color: #A4ADE9 !important;
}


