.tableDashboardGestionnaire {
  margin-top: 20px;
  margin-bottom: 20px;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.tableDashboardGestionnaire  .button {
  margin-top: 30px; 
  background: #DBB2FF;
  color: #161616;
  padding: 0.75rem 1.25rem;
  width: 250px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}




/* .tableDashboardGestionnaire td,
.tableDashboardGestionnaire th {
  border: 1px solid #ddd;
  padding: 4px;
}

.tableDashboardGestionnaire tr:nth-child(odd) {
  background-color: #ffffff;
  color: black;
}
.tableDashboardGestionnaire tr:nth-child(even) {
  background-color: #eeeeee;
  color: black;
}

.tableDashboardGestionnaire tbody tr:hover {
  background-color: #23b6fd;
}

.tableDashboardGestionnaire th {
  background-color: #000000;
  color: white;
} */



.hoverButton:hover {
  background-color: lightgray;
}


.tableDashboardGestionnaire tr:nth-child(even)  {
  background-color: #DBB2FF;
}

.tableDashboardGestionnaire tr:nth-child(odd) {
  background-color: lightgray;
}

.tableDashboardGestionnaire tr:nth-child(even) .tableCvButton {
  background-color: #DBB2FF;
  border: none;
}

.tableDashboardGestionnaire tr:nth-child(odd) .tableCvButton{
  background-color: lightgray;
  border: none;
}
